<div class="container">
<h1 class="page-header">The Statty Feed</h1>
<%= link_to "Post an Update", new_status_path, class: "btn btn-danger" %>
</div>
<% @statuses.each do |status| %>
<div class="status container">
  <strong>Name</strong>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %><br>
    <%= link_to "Expand", status %>
    <span class="admin">
      | <%= link_to "Edit", edit_status_path(status) %> |
      <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this update?"} %>
    </span>
  </div>
</div>
<% end %>
